In [ ]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#simple Linear regression
from sklearn.linear_model import LinearRegression

In [10]:
#load data
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [1]:
nums=[1, 2, 3, 4, 5, 6]
def square_even_numbers(nums):
    result = [x**2 for x in nums if x % 2 == 0]
    return result
print("The square of even numbers is:", square_even_numbers(nums))

The square of even numbers is: [4, 16, 36]

In [20]:

nums = list(map(int, input("Enter numbers separated by space: ").split()))

def square_even_numbers(nums):
    result = [x**2 for x in nums ]
    return result

print("The square of even numbers is:", square_even_numbers(nums))

The square of even numbers is: [7744]